{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Powerblock Elite</title>
                
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="{% static "js/account.js" %}"></script>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">Powerblock Elite</div>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/home/">Home</a></li>
                        <li><a href="/schedule/">Schedules</a></li>
                        <li class="active"><a href="/account/">Account</a></li>
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a onclick="signOut()" style="cursor: pointer">Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div id="mainDiv" class="jumbotron">
                <h3>Update your account</h3>
                <div id="account">
                    <div id="accountDetails">
                        <script type="text/javascript">
                            String.prototype.capitalize = function() {
                                return this.charAt(0).toUpperCase() + this.slice(1);
                            }

                            var login = 1;
                            $.getJSON("/api/getUserData/", { userID: login }, function (accountDetails) {
                                var contents = "";

                                contents += '<label for="email">Email:</label>';
                                contents += '<input type="text" id="email" value="' + accountDetails['email'] + '"/>';
                                contents += '<br />';
                                contents += '<label for="firstName">First Name:</label>';
                                contents += '<input type="text" id="firstName" value="' + accountDetails['firstName'] + '"/>';
                                contents += '<br />';
                                contents += '<label for="lastname">Last Name:</label>';
                                contents += '<input type="text" id="lastName" value="' + accountDetails['lastName'] + '"/>';
                                contents += '<br />';
                                contents += '<label for="adress">Address:</label>';
                                contents += '<input type="text" id="address" value="' + accountDetails['streetNum'] + ' ' + accountDetails['street_name'] + '"/>';
                                contents += '<br />';
                                contents += '<label for="city">City:</label>';
                                contents += '<input type="text" id="city" value="' + accountDetails['city'] + '"/>';
                                contents += '<br />';
                                contents += '<label for="country">Country:</label>';
                                contents += '<input type="text" id="country" value="' + accountDetails['country'] + '"/>';
                                contents += '<br />';
                                contents += '<label for="postalCode">Postal Code:</label>';
                                contents += '<input type="text" id="postalCode" value="' + accountDetails['postal_code'] + '"/>';

                                document.getElementById('accountDetails').innerHTML += contents;
                            });
                        </script>
                    </div>
                    <div>
                        <button type="button" class="btn btn-large btn-primary" onclick="updateUserDetails()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>