{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Powerblock Elite</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="Stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" rel="Stylesheet" />
        <link href="{% static "css/fullcalendar.min.css" %}" rel="Stylesheet" />
        <link href="{% static "css/main.css" %}" rel=Stylesheet />

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/fullcalendar.js" %}"></script>
        <script type="text/javascript" src="{% static "js/main.js" %}"></script>
        <script type="text/javascript" src="{% static "js/schedule.js" %}"></script>
    </head>
<body> 
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">Powerblock Elite</div>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/home/">Home</a></li>
                    <li class="active"><a href="/schedule/">Schedules</a></li>
                    <li><a href="/account/">Account</a></li> 
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a onclick="signOut()" style="cursor: pointer">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="modal fade" id="addEventModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add an Event</h4>
                </div>
                <div class="modal-body">
                    <label for="eventTitle">Event Title:</label>
                    <input type="text" id="eventTitle"/>
                    <br/>
                    <input type="hidden" id="eventDate" value="" />
                    <label>Start Time:</label>
                    <input type="number" id="eventStartHour" min="0" max="11" value="0" style="width: 40px" />
                    <input type="number" id="eventStartMin" min="0" max="59" value="0" style="width: 40px" />
                    <select id="eventStartPeriod">
                        <option value="am">AM</option>
                        <option value="pm">PM</option>
                    </select>
                    <br />
                    <label>End Time:</label>
                    <input type="number" id="eventEndHour" min="0" max="11" value="0" style="width: 40px" />
                    <input type="number" id="eventEndMin" min="0" max="59" value="0" style="width: 40px" />
                    <select id="eventEndPeriod">
                        <option value="am">AM</option>
                        <option value="pm">PM</option>
                    </select>
                    <br />
                    <label>Turn</label>
                    <select id="eventRoomSelect">
                        <script type="text/javascript">
                            //hard code for now until authentication is complete
                            var login = 1;
                            $.getJSON("/circuits/" + login + "/", function (circuits) {
                                var contents = '';
                                for (i in circuits) {
                                    contents += '<option value="' + circuits[i].num + '">';
                                    contents += circuits[i].name + '</option>';
                                }
                                document.getElementById('eventRoomSelect').innerHTML = contents;
                            });
                        </script>
                    </select>
                    <select id="eventRoomState">
                        <option value="on">on</option>
                        <option value="off">off</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addEvent()">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeEventModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Remove Event?</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to remove this event?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="mainDiv" class="jumbotron"> 
            <h2> 
		        Powerblock Elite Home
	        </h2> 
            <div id='calendar'></div>
        </div>
    </div>
</body>
</html>
